.form__container
{
    position: relative;
    top: -30px;
    max-width: 480px;
    margin: 40px auto;
    padding: 20px;
}

.form--LandingPage
{
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form__group
{
    margin-bottom: 20px;
}

.form__group
{
    color: none;
}