
.container {
    justify-content: center;
    align-items: center;
}

header, span
{
    top: 0;
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid var(--clr-text-light);
    color: var();
    align-items: center;
    background: var(--background-dark-1);
}

.page-nav-content
{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img__header
{
    display: flex;
    width: 400px;
    height: 400px;
}

ul {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    width: 100%;
    
}

li {
    list-style-type: none;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    font-size: 30px;
}

footer
{
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 1.3em;
    width: 100%;
    height: 10vh;
    padding: 10px;
    margin: 0;
    background-color: var(--background-dark-1);
    text-transform: none;
}

em
{
    color:  #ffff;
}