
.container {
    justify-content: center;
    align-items: center;
}

header span
{
    height: 60px;
    display: block;
    position: fixed;
    top: 0;
    color: var();
    align-items: center;
    background-color: var(--background-dark);
}

.page-nav-content
{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img__header
{
    display: flex;
    width: 400px;
    height: 400px;
}

ul {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    width: 100%;
    
}

li {
    list-style-type: none;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    font-size: 30px;
}