@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Open+Sans:wght@300&family=Poiret+One&family=Poppins:wght@400;500&family=Shadows+Into+Light&display=swap');

:root 
{
  --clr-text-light: #ffe4c4;
  --clr-btn-light: ;
  --background-light: #ff5c5c;
  --background-dark: #171417;
  --clr-link-light:#2bff18;
}

html, body 
{
  background-color: var(--background-dark);
  font-family: 'Poiret One', cursive;
  color: var(--clr-text-light);
  cursor: default;
}

a, a:hover 
{
  text-decoration: none;
  color: var(--clr-link-light);
}