@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Open+Sans:wght@300&family=Poiret+One&family=Poppins:wght@400;500&family=Shadows+Into+Light&display=swap');

/*========== # ========== configurações Globais do projeto ========== # ========== */

:root {
  --clr-text-light: #00e1ff;
  --background-light: #ff5c5c;
  --background-dark: #2e2e30;
  --background-dark-1: #3a3a3f;
  --clr-link-light: #ff0080;
  --clr-text-shadow: #00e1ff 4px 4px 4px;
  --clr-btn: orangered;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  justify-content: center;
  text-align: center;
  cursor: default;
}

ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0 10px 0;
}

span {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: #00eeff;
}

* {
  box-sizing: border-box;
  font-family: 'Poiret One', cursive;
}

html,
body {
  background-color: var(--background-dark);
  font-family: 'Poiret One', cursive;
  color: var(--clr-text-light);
}

a {
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: var(--clr-link-light);
}

a:hover {
  color: var(--clr-text-light);
  font-weight: bold;
  text-shadow: var(--clr-text-shadow);
}

.btn,
.btn--primary,
.LandingPage--btn {
  color: var(--clr-btn);
  font-size: 2em;
  font-weight: bold;
}

.flip--horizontal {
  transform: rotate(180deg);
}

form {
  width: 100%;
  display: flex;
}